apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kube-prometheus-stack
  namespace: flux-system
spec:
  interval: 10m
  path: ./IaC/kubernetes/apps/base/observability/kube-prometheus-stack
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  dependsOn:
    - name: cilium
  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: cluster-settings
  decryption:
    provider: sops
    secretRef:
      name: sops-age
