---
apiVersion: notification.toolkit.fluxcd.io/v1beta3
kind: Receiver
metadata:
  name: discord-webhook-receiver
  namespace: flux-system
  labels:
    app.kubernetes.io/name: discord-webhook-receiver
    app.kubernetes.io/part-of: helix-platform
    app.kubernetes.io/managed-by: fluxcd
    helix.ai/component: notifications-receiver
spec:
  type: generic
  secretRef:
    name: discord-webhook-token
  events:
    - "*" # all events; refine for filtering if needed
  resources:
    - apiVersion: source.toolkit.fluxcd.io/v1beta2
      kind: GitRepository
      namespace: flux-system
      name: "*"
    - apiVersion: kustomize.toolkit.fluxcd.io/v1
      kind: Kustomization
      namespace: flux-system
      name: "*"
    - apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      namespace: flux-system
      name: "*"
