{
  "singleQuote": true,
  "semi": false,
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 80,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "quoteProps": "as-needed",
  "proseWrap": "preserve",
  "embeddedLanguageFormatting": "auto",
  "requirePragma": false,
  "insertPragma": false,
  "plugins": []
}
