---
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: kube-prometheus-dns-endpoint
  namespace: network
spec:
  endpoints:
    # Domain 3 (sinlessgames.com)
    - dnsName: "grafana.${DOMAIN_3}"
      recordType: CNAME
      targets: ["external.${DOMAIN_3}"]
    - dnsName: "prometheus.${DOMAIN_3}"
      recordType: CNAME
      targets: ["envoy-internal.network.svc.cluster.local"]
    - dnsName: "alertmanager.${DOMAIN_3}"
      recordType: CNAME
      targets: ["envoy-internal.network.svc.cluster.local"]
