---
apiVersion: security.istio.io/v1
kind: AuthorizationPolicy
metadata:
  name: envoy-external-allow-cluster
  namespace: network
  labels:
    app.kubernetes.io/name: envoy-external-allow-cluster
    app.kubernetes.io/component: service-mesh
    app.kubernetes.io/part-of: helix-platform
    app.kubernetes.io/managed-by: fluxcd
    helix.ai/component: service-mesh
spec:
  selector:
    matchLabels:
      istio: envoy-external

  action: ALLOW

  rules:
    - from:
        - source:
            ipBlocks:
              - ${CLUSTER_CIDR}
      to:
        - operation:
            ports:
              - "443"
