---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./dnsendpoint.yaml
  - ./secret.sops.yaml
  - ./helmrelease.yaml

replacements:
  # External domains
  - source:
      {
        kind: ConfigMap,
        name: cluster-settings,
        fieldPath: data.DOMAIN_1,
        options: { prefix: external. },
      }
    targets:
      - select: { kind: DNSEndpoint, name: cloudflare-tunnel }
        fieldPaths: [spec.endpoints.0.dnsName]
  - source:
      {
        kind: ConfigMap,
        name: cluster-settings,
        fieldPath: data.DOMAIN_2,
        options: { prefix: external. },
      }
    targets:
      - select: { kind: DNSEndpoint, name: cloudflare-tunnel }
        fieldPaths: [spec.endpoints.1.dnsName]
  - source:
      {
        kind: ConfigMap,
        name: cluster-settings,
        fieldPath: data.DOMAIN_3,
        options: { prefix: external. },
      }
    targets:
      - select: { kind: DNSEndpoint, name: cloudflare-tunnel }
        fieldPaths: [spec.endpoints.2.dnsName]

  # Tunnel targets
  - source:
      {
        kind: ConfigMap,
        name: cluster-settings,
        fieldPath: data.TUNNEL_ID_1,
        options: { suffix: .cfargotunnel.com },
      }
    targets:
      - select: { kind: DNSEndpoint, name: cloudflare-tunnel }
        fieldPaths: [spec.endpoints.0.targets.0]
  - source:
      {
        kind: ConfigMap,
        name: cluster-settings,
        fieldPath: data.TUNNEL_ID_2,
        options: { suffix: .cfargotunnel.com },
      }
    targets:
      - select: { kind: DNSEndpoint, name: cloudflare-tunnel }
        fieldPaths: [spec.endpoints.1.targets.0]
  - source:
      {
        kind: ConfigMap,
        name: cluster-settings,
        fieldPath: data.TUNNEL_ID_3,
        options: { suffix: .cfargotunnel.com },
      }
    targets:
      - select: { kind: DNSEndpoint, name: cloudflare-tunnel }
        fieldPaths: [spec.endpoints.2.targets.0]
