apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: echo-reference
  namespace: observability
  labels:
    release: kube-prometheus-stack
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: echo-reference
  namespaceSelector:
    matchNames:
      - observability
  endpoints:
    - port: http
      interval: 30s
