deploymentMode: SingleBinary

loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  storage:
    type: filesystem
    filesystem:
      chunks_directory: /var/loki/chunks
      rules_directory: /var/loki/rules
  ruler:
    storage:
      type: local
      local:
        directory: /var/loki/rules

singleBinary:
  replicas: 1
  persistence:
    enabled: false

monitoring:
  serviceMonitor:
    enabled: true
  dashboards:
    enabled: true
  rules:
    enabled: true
