apiVersion: v1
kind: Namespace
metadata:
  name: kube-system
  labels:
    name: kube-system
    purpose: system-components
    environment: base
    app.kubernetes.io/name: kube-system
    helix.ai/component: gitops-control-plane
