---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kube-prometheus
  namespace: flux-system

spec:
  interval: 1h
  retryInterval: 2m
  timeout: 5m

  # Path to the HelmRelease + values
  path: ./IaC/kubernetes/apps/observability/kube-prometheus-stack/app

  # Ensure DNS and cert-manager come online first
  dependsOn:
    - name: cloudflare-dns
    - name: cert-manager
    - name: istio

  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system

  targetNamespace: observability

  wait: true
  prune: true

  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: cluster-settings

  decryption:
    provider: sops
    secretRef:
      name: sops-age
