# IaC/kubernetes/apps/base/network/istio/app/helmrelease-gateway.yaml
---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: envoy-external
  namespace: network
  labels:
    app.kubernetes.io/name: envoy-external
    app.kubernetes.io/component: service-mesh
    app.kubernetes.io/part-of: helix-platform
    app.kubernetes.io/managed-by: fluxcd
    helix.ai/component: service-mesh
spec:
  releaseName: envoy-external
  interval: 30m
  dependsOn:
    - name: istio
      namespace: network
  chart:
    spec:
      chart: gateway
      version: 1.28.0
      sourceRef:
        kind: HelmRepository
        name: istio
        namespace: flux-system
      interval: 1h
  install:
    createNamespace: true
    remediation:
      retries: -1
  upgrade:
    remediation:
      retries: -1
  values:
    name: envoy-external
    service:
      type: ClusterIP
      ports:
        - name: status-port
          port: 15021
          targetPort: 15021
        - name: http2
          port: 80
          targetPort: 80
        - name: https
          port: 443
          targetPort: 443
    labels:
      istio.io/dataplane-mode: none
    podAnnotations:
      proxy.istio.io/config: '{"holdApplicationUntilProxyStarts":true}'
