---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./gateways/envoy-external-gateway.yaml
  - ./ingresses/certificates.yaml
  - ./mesh/mesh-peerauthentication.yaml
  - ./mesh/mesh-destinationrule.yaml
  - ./policies/ingress-gateway-peerauthentication.yml
  - ./policies/authorizationpolicy-allow.yml
  - ./policies/authorizationpolicy-deny.yml
  - ../../../../../flux/vars/cluster-settings.yaml

configurations:
  - ./kustomizeconfig/istio-varreferences.yaml

patchesStrategicMerge:
  - ./patches/cluster-settings-disable-reconcile.yaml

vars:
  - name: DOMAIN_1
    objref:
      apiVersion: v1
      kind: ConfigMap
      name: cluster-settings
    fieldref:
      fieldpath: data.DOMAIN_1
  - name: DOMAIN_2
    objref:
      apiVersion: v1
      kind: ConfigMap
      name: cluster-settings
    fieldref:
      fieldpath: data.DOMAIN_2
  - name: DOMAIN_3
    objref:
      apiVersion: v1
      kind: ConfigMap
      name: cluster-settings
    fieldref:
      fieldpath: data.DOMAIN_3
  - name: CLUSTER_CIDR
    objref:
      apiVersion: v1
      kind: ConfigMap
      name: cluster-settings
    fieldref:
      fieldpath: data.CLUSTER_CIDR
