apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: istio-config
  labels:
    app.kubernetes.io/name: istio-config
    app.kubernetes.io/component: service-mesh
    app.kubernetes.io/part-of: helix-platform
    app.kubernetes.io/managed-by: fluxcd
    helix.ai/component: service-mesh

namespace: network

resources:
  # Gateways
  - ./gateways/external.yaml
  - ./gateways/internal.yaml

  # Certificates for gateways
  - ./ingresses/certificates.yaml

  # Mesh-wide configuration
  - ./mesh/mesh-peerauthentication.yaml
  - ./mesh/mesh-destinationrule.yaml

  # Gateway-specific mTLS overrides
  - ./policies/ingress-gateway-peerauthentication.yml

  # External gateway authorization
  - ./policies/authorizationpolicy-allow.yml
  - ./policies/authorizationpolicy-deny.yml

configurations:
  - ./kustomizeconfig/istio-varreferences.yaml
