apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: spegel
  namespace: kube-system
spec:
  chartRef:
    kind: OCIRepository
    name: spegel
    namespace: flux-system
  interval: 1h
  values:
    spegel:
      containerdSock: /run/containerd/containerd.sock
      containerdRegistryConfigPath: /etc/containerd/certs.d
    service:
      registry:
        hostPort: 29999
    serviceMonitor:
      enabled: true
