---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: spegel
  namespace: kube-system
  labels:
    app.kubernetes.io/name: spegel
    app.kubernetes.io/component: infra
    app.kubernetes.io/part-of: helix-platform
    app.kubernetes.io/managed-by: fluxcd
    helix.ai/component: spegel
spec:
  interval: 1h0m0s
  install:
    createNamespace: false
    remediation:
      retries: 3
      remediateLastFailure: true
  upgrade:
    remediation:
      retries: 3

  chartRef:
    kind: OCIRepository
    name: spegel
    namespace: flux-system

  values:
    spegel:
      containerdSock: /run/containerd/containerd.sock
      containerdRegistryConfigPath: /etc/containerd/certs.d
    service:
      registry:
        hostPort: 29999
    serviceMonitor:
      enabled: true
