apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homepage
  namespace: platform
  labels:
    app.kubernetes.io/name: homepage
    app.kubernetes.io/instance: homepage
    app.kubernetes.io/managed-by: fluxcd
    app.kubernetes.io/part-of: helix-platform
    helix.ai/component: platform-homepage
spec:
  interval: 30m
  timeout: 5m
  releaseName: homepage
  targetNamespace: platform
  chart:
    spec:
      chart: homepage
      version: 2.1.0
      sourceRef:
        kind: HelmRepository
        name: homepage
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  valuesFrom:
    - kind: ConfigMap
      name: homepage-values
      valuesKey: values.yaml
