---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./gateways/envoy-external-gateway.yaml
  - ./ingresses/certificates.yaml
  - ./mesh/mesh-peerauthentication.yaml
  - ./mesh/mesh-destinationrule.yaml
  - ./policies/ingress-gateway-peerauthentication.yml
  - ./policies/authorizationpolicy-allow.yml
  - ./policies/authorizationpolicy-deny.yml
