---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cloudflare-tunnel
  namespace: flux-system
spec:
  interval: 1h
  path: ./IaC/kubernetes/apps/base/network/cloudflare-tunnel/app
  postBuild:
    substituteFrom:
      - name: cluster-settings
        kind: ConfigMap
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: network
  wait: true
  decryption:
    provider: sops
    secretRef:
      name: sops-age
