---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: envoy-external-domain1
  namespace: network
  labels:
    app.kubernetes.io/name: envoy-external-domain1
    app.kubernetes.io/component: service-mesh
    app.kubernetes.io/part-of: helix-platform
    app.kubernetes.io/managed-by: fluxcd
    helix.ai/component: service-mesh
spec:
  secretName: envoy-external-domain1-tls
  issuerRef:
    kind: ClusterIssuer
    name: letsencrypt-staging-domain1
  dnsNames:
    - "*.$(DOMAIN_1)"

---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: envoy-external-domain2
  namespace: network
  labels:
    app.kubernetes.io/name: envoy-external-domain2
    app.kubernetes.io/component: service-mesh
    app.kubernetes.io/part-of: helix-platform
    app.kubernetes.io/managed-by: fluxcd
    helix.ai/component: service-mesh
spec:
  secretName: envoy-external-domain2-tls
  issuerRef:
    kind: ClusterIssuer
    name: letsencrypt-staging-domain2
  dnsNames:
    - "*.$(DOMAIN_2)"

---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: envoy-external-domain3
  namespace: network
  labels:
    app.kubernetes.io/name: envoy-external-domain3
    app.kubernetes.io/component: service-mesh
    app.kubernetes.io/part-of: helix-platform
    app.kubernetes.io/managed-by: fluxcd
    helix.ai/component: service-mesh
spec:
  secretName: envoy-external-domain3-tls
  issuerRef:
    kind: ClusterIssuer
    name: letsencrypt-staging-domain3
  dnsNames:
    - "*.$(DOMAIN_3)"
