---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: envoy-external
  namespace: network
  labels:
    app.kubernetes.io/name: envoy-external
    app.kubernetes.io/component: service-mesh
    app.kubernetes.io/part-of: helix-platform
    app.kubernetes.io/managed-by: fluxcd
    helix.ai.component: service-mesh
spec:
  interval: 30m0s

  dependsOn:
    - name: istio-base
      namespace: network

  install:
    createNamespace: false
    remediation:
      retries: 3
      remediateLastFailure: true

  upgrade:
    remediation:
      retries: 3

  chartRef:
    kind: HelmRepository
    name: istio
    namespace: flux-system

  values:
    name: envoy-external
    service:
      type: ClusterIP
      ports:
        - name: status-port
          port: 15021
          targetPort: 15021
        - name: http2
          port: 80
          targetPort: 80
        - name: https
          port: 443
          targetPort: 443
    labels:
      istio.io/dataplane-mode: none
    podAnnotations:
      proxy.istio.io/config: '{"holdApplicationUntilProxyStarts":true}'
