# IaC/kubernetes/apps/base/network/istio/app/helmrelease-base.yaml
---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: istio-base
  namespace: network
  labels:
    app.kubernetes.io/name: istio-base
    app.kubernetes.io/component: service-mesh
    app.kubernetes.io/part-of: helix-platform
    app.kubernetes.io/managed-by: fluxcd
    helix.ai/component: service-mesh
spec:
  releaseName: istio-base
  interval: 30m

  chart:
    spec:
      chart: base
      version: 1.28.0
      sourceRef:
        kind: HelmRepository
        name: istio
        namespace: flux-system
      interval: 1h

  install:
    createNamespace: true
    remediation:
      retries: -1

  upgrade:
    remediation:
      retries: -1

  values:
    global:
      istioNamespace: network
