---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: istio-base
  namespace: network
  labels:
    app.kubernetes.io/name: istio-base
    app.kubernetes.io/component: service-mesh
    app.kubernetes.io/part-of: helix-platform
    app.kubernetes.io/managed-by: fluxcd
    helix.ai/component: service-mesh
spec:
  interval: 30m0s

  install:
    createNamespace: true
    remediation:
      retries: 3
      remediateLastFailure: true

  upgrade:
    remediation:
      retries: 3

  chartRef:
    kind: HelmRepository
    name: istio
    namespace: flux-system

  values:
    global:
      istioNamespace: network
