apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: helix-ai
  namespace: flux-system
spec:
  interval: 1m
  ref:
    branch: main
  url: https://github.com/SinLess777/Helix.git
