apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: otel-collector-agent
  namespace: observability
  labels:
    app.kubernetes.io/name: otel-collector-agent
    app.kubernetes.io/component: observability
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: otel-collector-agent
  template:
    metadata:
      labels:
        app.kubernetes.io/name: otel-collector-agent
      annotations:
        configchecksum: "${OTEL_AGENT_CONFIG_CHECKSUM:=1}"
    spec:
      serviceAccountName: otel-collector
      tolerations:
        - operator: Exists
      containers:
        - name: agent
          image: otel/opentelemetry-collector:0.107.0
          args:
            - "--config=/conf/collector.yaml"
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
          env:
            - name: GATEWAY_ENDPOINT
              value: otel-collector-gateway.observability.svc.cluster.local:4317
          volumeMounts:
            - name: config
              mountPath: /conf
      volumes:
        - name: config
          configMap:
            name: otel-collector-config
            items:
              - key: collector.yaml
                path: collector.yaml
