apiVersion: v1
kind: Service
metadata:
  name: otel-collector-gateway
  namespace: observability
  labels:
    app.kubernetes.io/name: otel-collector-gateway
    app.kubernetes.io/component: observability
spec:
  selector:
    app.kubernetes.io/name: otel-collector-gateway
  ports:
    - name: otlp-grpc
      port: 4317
      targetPort: 4317
    - name: otlp-http
      port: 4318
      targetPort: 4318
    - name: healthz
      port: 13133
      targetPort: 13133
