apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cert-manager-issuers
  namespace: flux-system
spec:
  interval: 30m
  retryInterval: 2m
  timeout: 5m
  prune: true
  dependsOn:
    - name: cert-manager-app
      namespace: flux-system
  sourceRef:
    kind: GitRepository
    name: helix-ai
    namespace: flux-system
  path: ./IaC/kubernetes/apps/base/cert-manager/issuers/app
  wait: true
