apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: grafana-alloy
  namespace: observability
  labels:
    app.kubernetes.io/name: grafana-alloy
    app.kubernetes.io/component: observability
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: grafana-alloy
  template:
    metadata:
      labels:
        app.kubernetes.io/name: grafana-alloy
    spec:
      serviceAccountName: otel-collector
      tolerations:
        - operator: Exists
      containers:
        - name: alloy
          image: grafana/alloy:1.2.1
          args:
            - "run"
            - "/etc/alloy/alloy.river"
          resources:
            requests:
              cpu: 200m
              memory: 256Mi
          volumeMounts:
            - name: config
              mountPath: /etc/alloy
      volumes:
        - name: config
          configMap:
            name: grafana-alloy-config
