apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: pyroscope
  namespace: observability
  labels:
    app.kubernetes.io/name: pyroscope
    app.kubernetes.io/instance: pyroscope
    app.kubernetes.io/managed-by: fluxcd
    app.kubernetes.io/part-of: helix-observability
spec:
  interval: 30m
  timeout: 10m
  releaseName: pyroscope
  targetNamespace: observability
  chart:
    spec:
      chart: pyroscope
      version: 1.16.0
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  valuesFrom:
    - kind: ConfigMap
      name: pyroscope-values
      valuesKey: values.yaml
