# yaml-language-server: $schema=../../../schemas/flux-kustomization.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: storage-namespaces
  namespace: flux-system
  labels:
    app.kubernetes.io/name: storage-namespaces
    app.kubernetes.io/component: storage
    app.kubernetes.io/part-of: helix-platform
    app.kubernetes.io/managed-by: fluxcd
    helix.ai/component: storage
spec:
  interval: 10m0s
  retryInterval: 2m0s
  timeout: 5m0s
  prune: true
  wait: true

  path: ./IaC/kubernetes/apps/storage/namespaces

  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system

  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: cluster-settings

  decryption:
    provider: sops
    secretRef:
      name: sops-age
