# yaml-language-server: $schema=../../../schemas/flux-kustomization.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: rook-ceph-cluster
  namespace: flux-system
  labels:
    app.kubernetes.io/name: rook-ceph-cluster
    app.kubernetes.io/component: storage
    app.kubernetes.io/part-of: helix-platform
    app.kubernetes.io/managed-by: fluxcd
    helix.ai/component: storage
spec:
  interval: 10m0s
  retryInterval: 2m0s
  timeout: 15m0s
  prune: true
  wait: true

  path: ./IaC/kubernetes/apps/storage/rook-ceph-cluster/app
  targetNamespace: rook-ceph

  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system

  dependsOn:
    - name: rook-ceph-operator
      namespace: flux-system

  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: cluster-settings
      - kind: Secret
        name: cluster-secrets
        optional: true

  decryption:
    provider: sops
    secretRef:
      name: sops-age
