apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: observability
  labels:
    app.kubernetes.io/name: kube-prometheus-stack
    app.kubernetes.io/instance: kube-prometheus-stack
    app.kubernetes.io/managed-by: fluxcd
    app.kubernetes.io/part-of: helix-observability
    helm.sh/chart: kube-prometheus-stack-79.7.1
spec:
  interval: 30m
  timeout: 15m
  maxHistory: 10
  releaseName: kube-prometheus-stack
  targetNamespace: observability
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "79.7.1"
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  dependsOn:
    - name: rook-release
      namespace: observability
  install:
    crds: Create
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  driftDetection:
    mode: enabled
  serviceAccountName: helm-release-sa
  valuesFrom:
    - kind: ConfigMap
      name: kube-prometheus-stack-values
      valuesKey: values.yaml
