apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cloudflare-dns-stack
  namespace: flux-system
spec:
  interval: 10m
  path: ./IaC/kubernetes/apps/base/network/cloudflare-dns
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  dependsOn:
    - name: cilium
      namespace: flux-system
