apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: istio-config-stack
  namespace: flux-system
  labels:
    app.kubernetes.io/name: istio-config
    app.kubernetes.io/component: service-mesh
    app.kubernetes.io/part-of: helix-platform
    app.kubernetes.io/managed-by: fluxcd
    helix.ai/component: istio
spec:
  interval: 10m0s
  retryInterval: 2m0s
  timeout: 5m0s
  prune: true
  wait: false

  path: ./IaC/kubernetes/apps/network/istio-config/app

  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system

  decryption:
    provider: sops
    secretRef:
      name: sops-age

  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: cluster-settings
